/nbproject/private/
/old/
/nbproject/
/basic/assets/
/basic/protected/runtime/
/advanced/backend/www/assets/
/advanced/backend/runtime/
/advanced/frontend/www/assets/
/advanced/frontend/runtime/
/advanced/frontend/www/assets/
/advanced/frontend/runtime/
/.idea/