assets/
protected/runtime/
themes/classic/views/
/upload/category/.tmb/
/upload/.tmb/
/upload/item/2012/05/24/.tmb/
/upload/item/2012/05/25/.tmb/
/upload/item/2012/05/26/.tmb/
/nbproject/private/