html, body, h1,h2,h3,h4,h5,h6,ul,li{margin:0;padding:0;}
body {font:12px/1.5 '宋体',Arial,Lucida,Helvetica,sans-serif;background:#ffffff;color:#666666}
a {color:#464646;text-decoration:none;}
ol,li{list-style:none !important;}
.common_left{float:left;}
.common_right{float:right;width:800px;overflow:hidden}
a img{border:none;}
.clear{clear:both;}
.top_search input{width:300px}
.top_search .input-prepend{width:auto}
.top_search{padding-top:10px}
/*--------------header--------------*/

.hd_top{zoom:1;padding:5px 0;color:#797979;background:none repeat scroll 0 0 #EFEFEF}
.login,.lang{float:right;margin:0 10px;}
.lang a.current{color:#ff0000;}
.login a,.lang a{color:#797979;}
.buy_car{float:right;margin:0 10px;}
.go_pay a{background:url(../images/g_botton.png) no-repeat;display:block;text-align:center;color:#F37E00;font-weight:700;width:43px;line-height:19px;float:right;}
.hd{background:#fff;padding:10px 0;}
.hd2{width:1190px; margin:0 auto;overflow:hidden;zoom:1;}
.logo{float:left;}
.search{overflow:hidden;zoom:1;float:left}
.search_input {
    float:left;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
/*    background: url("data:image/gif;base64,R0lGODlhAQADAJEAAObm5t3d3ff39wAAACH5BAAAAAAALAAAAAABAAMAAAICDFQAOw==") repeat-x scroll 0 0 transparent;*/
    border-color: -moz-use-text-color #7B0F0F -moz-use-text-color #ECECEC;
    border-image: none;
    border-style: none solid;
    border-width: medium 2px medium 1px;
    color: #000000;
    font-weight: 900;
    height: 18px;
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 4px 2px 4px 5px;
    position: absolute;
    width: 359px;
    z-index: 2;
}
.search_submit{
    background-color: #462824;
    background-position: 0 -26px;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 12px;
    height: 26px;
    letter-spacing: 4px;
    line-height: 26px;
    overflow: hidden;
    width: 98px;
}
.search_submit:hover{
    background-color: #866150;
    background-position: 0 0;
}
.phone{float:right;background:url(../images/phone.jpg) no-repeat left;padding-left:18px;color:red;font-size:14px;font-weight:700;margin-top:10px;}



/*----------nav---------*/
#nav {background:#efefef;overflow:hidden;zoom:1;}
#nav ul{width:1190px;overflow:hidden;zoom:1;margin:0 auto;padding:0;}
#nav ul li{float:left;font-size:14px;font-family:"微软雅黑";padding-right:10px;width:100px;text-align:center}
#nav ul li a{padding:10px 20px;display:block;}
#nav ul li a:hover,#nav ul li a.current{background:#ff931f;color:#fff;font-weight:700;}



/*-----------main--------*/
#main{width:1190px;margin:0 auto;}
.image_scroll{margin-top:0;}
.category {margin-top:10px;overflow:hidden;zoom:1;height:78px;}
.category a {float:left;}


/*----------footer--------*/
#footer{width:1190px;margin:0 auto;}
.helpcenter{border:1px solid #D9D9D9;padding:20px;margin-top:10px;overflow:hidden;zoom:1;width:1148px;}
.helpcenter ul {margin-left:0 !important}
.helpcenter ul li{line-height:24px;}
.help1{float:left;margin:0 25px;overflow:hidden;background:url(../images/helpicon_1.png) no-repeat left top;padding-left:40px;width:130px;}
.help2{float:left;margin:0 25px;overflow:hidden;background:url(../images/helpicon_2.png) no-repeat left top;padding-left:40px;width:130px;}
.help3{float:left;margin:0 25px;overflow:hidden;background:url(../images/helpicon_3.png) no-repeat left top;padding-left:40px;width:130px;}
.help4{float:left;margin:0 25px;overflow:hidden;background:url(../images/helpicon_4.png) no-repeat left top;padding-left:40px;width:130px;}
.help5{float:left;margin:0 25px;overflow:hidden;background:url(../images/helpicon_5.png) no-repeat left top;padding-left:40px;width:130px;}
.newone h3,.howbuy h3,.howpay h3, .howline h3{font-family:"微软雅黑";font-size:20px;font-weight:normal}
.line{background:url(../images/line.gif) repeat-x;height:9px;}
.footnav,.paylink{text-align:center;padding:5px 0;}
.foot_copyright{text-align:center;border-top:1px solid #ddd;margin-bottom:30px;}