/* 
    Document   : main
    Created on : 2013-7-9, 15:46:00
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/
.top_nav {
    background:#efefef;
    height:30px;
    line-height:30px;
}
.header{
    height:60px;
    padding:20px 0;
}
.top_right {
    text-align:right;
}
.search {
    margin-top:10px;
}
